.caixa{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #b63c49;
    margin:auto;
}

.tampa{
    margin:auto;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    width: 112px;
    height: 20px;
    background: #EF5261;
}

.lacoX{
    z-index: 3;
    margin: auto;
    position: absolute;
    width: 18px;
    height: 100%;
    background: #F6C863;
}
.lacoY{
    z-index: 3;
    margin: auto;
    position: absolute;
    top: 45%;
    width: 100px;
    height: 18px;
    background: #F6C863;
}

.giftBox {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 3px solid green;
}

/* Adiciona um sombreamento à caixa */
.giftBox {
  box-shadow: 5px 5px 5px #888888;
}

/* Adiciona uma fita à caixa */
.giftBox::before {
  content: "";
  display: block;
  width: 50px;
  height: 10px;
  background-color: green;
  position: relative;
  left: 75px;
  top: -20px;
  transform: rotate(45deg);
}